<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Platform</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout_style.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Add your logo here -->
            <ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>

                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Student"))
                    {
                        // This section is visible only to users in the "Student" role
                        <li><a href="@Url.Action("HomePage", "Student")">Home</a></li>
                        <li><a href="@Url.Action("MyCourses", "Student")">My Courses</a></li>
                    }
                    else if (User.IsInRole("Instructor"))
                    {
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Instructor")">Instructor Space</a></li>

                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Admin")">Admin Space</a></li>

                    }
                }

                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            <div class="navbar-center">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/image/Screenshot_2024-10-17_000233-removebg-preview.png" alt="Logo" class="logo-img" />
                </a>
            </div>

            <div class="profile-logout">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Student"))
                    {
                        <a href="@Url.Action("ProfilePage", "Student")" class="a_tag">
                            <img src="~/image/default_profil _mage2.png" alt="Sample Image" class="profile-img-nav" />
                            <span class="username">Profile</span>
                        </a>
                    }
                    else if (User.IsInRole("Instructor"))
                    {
                        <a href="@Url.Action("Profile", "Instructor")" class="loging">Profile</a>

                    }
                    <a href="@Url.Action("Logout", "Account")" class="loging">Logout</a>

                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="loging">Login</a>
                }

            </div>





        </nav>
    </header>
    <main>
        @RenderBody()
        <footer>
            <div class="footer-content">
                <p>&copy; DEPI Grad_Project(Team). All Rights Reserved.</p>
            </div>
        </footer>
    </main>
</body>
</html>
