<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Platform</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout_style.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Add your logo here -->

            <ul>
                <li><a href="@Url.Action("HomePage", "Student")">Home</a></li>
                <li><a href="@Url.Action("MyCourses", "Student")">My Courses</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                @* Section to add student info here *@
                @RenderSection("StudentInfo", required: false)
            </ul>
            <div class="navbar-center">
                <a href="@Url.Action("HomePage", "Student")">
                    <img src="~/image/Screenshot_2024-10-17_000233-removebg-preview.png" alt="Logo" class="logo-img" />
                </a>
            </div>

            <div class="profile">
                <a href="@Url.Action("ProfilePage", "Student")" class="a_tag">
                    <img src="~/image/default_profil _mage2.png" alt="Sample Image" class="profile-img-nav" />
                    <span class="username">profile</span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
        <footer>
            <div class="footer-content">
                <p>&copy; DEPI Grad_Project(Team). All Rights Reserved.</p>
            </div>
        </footer>
    </main>
</body>
</html>
