@model List<CoursesHomeViewModel>
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/Layout_student.cshtml";
@using OnlineCoursesApp.ViewModel.HomePageViewModels;

}

<main>
    <div class="main">
        <h1>Home Page</h1>
        <p>We are here to help you find the best path to achieve your goals.</p>
    </div>

    <section class="search-container">
        <input type="text" id="course-search" placeholder="Search for a course..." class="search-input" />
    </section>

    <!-- Cards Section -->
    <div class="cards">
        @{
            foreach (var course in @Model)
            {

                <div class="HomeCard-container">
                        <a href="/student/DisplayHomeCourseContent?courseId=@course.CourseId" class="HomeCard-link">
                            <div class="HomeCard">
                                <h1>@course.CourseName</h1>
                                <p>By: @course.InsrUctorName</p>
                                <p>Number of Students: @course.NumStudent</p>
                                <p>@course.CourseDescription</p>
                            </div>
                        </a>
                        <form action="/Student/EnrollCourse" method="post" class="enroll-form">
                            <input type="hidden" name="courseId" value="@course.CourseId" />
                            <input type="hidden" id="studentId" name="studentId" value="@TempData.Peek("studentId")" />
                            <button class="enroll-button" type="submit">Enroll</button>
                        </form>

                    </div>
                
            }
        }

    </div>
</main>


